.form {
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 67%;
}

@media screen and (min-width: 920px) {
    .form {
        width: 40%;
        position: absolute;
        top: 155px;
        right: 10px;
    }

}

#submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

#submit:hover {
    background-color: #B9E36D;
}
