li {
    list-style: none;
    background-color: white;
    border: solid 1px white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 5px;
}

ul {
    padding: 0;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.true {
    background-color: #CDEC85;
    border: solid 1px #CDEC85;
}

#delete {
    margin-right: 0;
    color: rgb(235, 27, 27);
    background-color: white;
    border: solid 1.5px rgb(235, 27, 27);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 6px;
    gap: 6px;
}

#delete:hover {
    background-color: rgb(235, 27, 27);
    border: solid 1.5px rgb(235, 27, 27);
    color: white;
}

#done {
    margin-left: 0;
}

.complete {
    background-color: #CDEC85;
    border: solid 1.5px #CDEC85;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 8px;
    gap: 6px;
}

.complete:hover {
    background-color: #B9E36D;
    border: solid 1.5px #B9E36D;
}

.undo {
    color: #5766EB;
    background-color: white;
    border: solid 1.5px #5766EB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 8px;
    gap: 6px;
}

.undo:hover {
    background-color: #5766EB;
    color: white;
    border: solid 1.5px #5766EB;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.chip {
    border-radius: 20px;
    padding: 3px 15px;
    font-size: 0.8rem;
}

.low {
    background-color: #cbf2cf;
    color: #364838;
}

.medium {
    background-color: #fdefd1;
    color: #8e6300;
}

.high {
    background-color: #ffe0dc;
    color: #ba2916;
}

@media only screen and (max-width: 460px) {
    .buttons {
        gap: 5px;
    }

    .half {
        gap: 5px;
    }
}

@media only screen and (max-width: 310px) {
    .half {
        font-size: 0.7em;
    }
}