li {
    list-style: none;
    background-color: white;
    border: solid 1px white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

ul {
    padding: 0;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.half {
    width: 25%;
}

button:hover {
    background-color: #5766EB;
    color: white;
}

.true {
    background-color: #CDEC85;
    border: solid 1px #CDEC85;
}

@media only screen and (max-width: 460px) {
    .buttons {
        flex-direction: column;
    }
    .half {
        width: 50%;
        margin: 5px auto;
    }
}

small {
    color:rgb(62, 62, 62); 
}

#delete:hover {
    background-color: rgb(223, 61, 61);
}

svg {
    vertical-align: bottom; /* ADDED */
    padding-bottom: 5px;
}
