.border {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 350px) {
    .border {
        flex-direction: column;
    }
}

.white:hover {
    background-color: white;
    color: black;
}
