@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@0;1&display=swap');

body {
    background-color: #5766EB;
}

body, select, input, button {
    font-family: 'MuseoModerno', cursive;
}

h1 {
    color: white;
    font-size: 300%;
}

#underline {
    text-decoration-line: underline;
}

#throughline {
    text-decoration-line: line-through;
}

select, input, button {
    border: solid 1px black;
    border-radius: 5px;
    margin: 5px;
}

button {
    background-color: white;
}

button.green {
    background-color: #CDEC85;
}

button.green:hover {
    background-color: #5766EB;
    color: white;
}

.app {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    grid-template-areas: 
        ". ."; 
}
